
@font-face {
  font-family: 'Izhitsa';
  src: url('Izhitsa.eot?#iefix') format('embedded-opentype'),  url('Izhitsa.woff') format('woff'), url('Izhitsa.ttf')  format('truetype'), url('Izhitsa.svg#Izhitsa') format('svg');
  font-weight: normal;
  font-style: normal;
}
